@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap");

:root {
  --gray: #2d3045;
  --dark-gray: #8287ac;
  --mid-gray: #979dbf;
  --light-gray: #cbcfe9;
  --secondary: #464d7b;
  --thirdary: #7982c2;
  --header: #b3b8d8;
  --p: rgb(211, 211, 211);
}

html {
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
  background: var(--light-gray);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: var(--gray);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 15px 60px 15px 60px;
  border: none;
  transition: all 300ms;
}

button:hover {
  background-color: var(--gray);
  opacity: 90%;
}

.card {
  background: var(--gray);
}

h1 {
  font-weight: 700;
  margin-bottom: 0px;
}

p {
  font-weight: 300;
}

/* nav bar css */

.spacer {
  height: 6rem;
}

nav {
  background: var(--gray);
  width: 100%;
  position: fixed;
  align-items: center;
}

.nav-nestled {
  max-width: 80rem /* 448px */;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3px 20px;
}

@media all and (min-width: 768px) {
  .nav-nestled {
    max-width: 80rem /* 448px */;
    margin: auto;
    flex-direction: row;
    padding: 3px 20px;
    align-items: center;
  }
}
.nav-title {
  color: var(--header);
  margin: 15px 0 5px 0;
  align-self: center;
  font-size: 1.5em;
}

@media all and (min-width: 768px) {
  .nav-title {
    margin: 15px 0;
    font-size: 2em;
  }
}

.nav-title-container {
  color: var(--p);
  flex-shrink: 0;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: 300ms;
  margin: 0 0 15px 0;
}

@media all and (min-width: 768px) {
  .nav-links {
    margin: 15px 0;
  }
}

@media all and (min-width: 768px) {
  .nav-links {
    font-size: 1.2em;
  }
}

.nav-links:hover {
  color: var(--thirdary);
}

.nav-link-container {
  gap: 30px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .nav-link-container {
    justify-content: flex-end;
    align-items: center;
  }
}

/* header css */

header {
  background-color: var(--secondary);
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header-nestled {
  max-width: 80rem /* 448px */;
  margin: auto;
  padding: 3px 20px 3px 20px;
  display: flex;
  padding-top: 6em;
}

.header-left {
  width: 100%;
  align-items: center;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 768px) {
  .header-left {
    width: 50%;
  }
}

.header-right {
  width: 0%;
  justify-content: center;
  display: flex;
  justify-content: flex-center;
  align-items: center;
}

@media (min-width: 768px) {
  .header-right {
    width: 50%;
  }
}

.header-title {
  margin: 5px 0;
  font-size: 2.3em;
  width: 100%;
  color: var(--header);
}

.header-tagline {
  margin: 1px 0;
  font-size: 1.2em;
  color: var(--p);
}

.header-button {
  float: left;
}

.button-div {
  margin: 10px 0 0 0;
  width: 100%;
}

.header-image {
  height: 100%;
  width: 70%;
  display: none;
}

@media (min-width: 768px) {
  .header-image {
    display: block;
  }
}

.gray {
  background: gray;
}

/* what we do div */

.feature-div-nestled {
  max-width: 80rem /* 448px */;
  margin: auto;
  padding: 3px 20px 3px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .feature-div-nestled {
    flex-direction: row;
  }
}

.feature-card {
  padding: 2em;
  border-radius: 8px;
  background: var(--mid-gray);
  -webkit-box-shadow: 5px 5px 10px 2px #8287ac;
  box-shadow: 5px 5px 10px 2px #8287ac;
}

.feature-heading {
  margin: 0;
}

.feature-description {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .feature-div {
    margin-top: -75px;
  }
}

@media (min-width: 1024px) {
  .feature-div {
    margin-top: -150px;
  }
}

@media (min-width: 2560px) {
  .feature-div {
    margin-top: -350px;
  }
}

.green {
  color: rgb(66, 117, 66);
}

.red {
  color: rgb(161, 28, 28);
}


/* Image Gallery */

.gallery {
  background-color: var(--secondary);
  margin: 0px;
  padding: 5% 0;
}

.gallery-nestled {
  max-width: 80rem /* 448px */;
  margin: auto;
  padding: 3px 20px 3px 20px;
}

.box {
  min-width: 250px;
  max-width: 250px;
  max-height: 150px;
  min-height: 150px;

}

.blue {
  background: blue;
}

.redb {
  background: red;
}

.gap {
  gap: 20px;
  display: flex;
    overflow-x: scroll;
  justify-content: space-between;
  white-space: no-wrap;
  flex: 0 1 auto;
  padding-bottom: 10px;
  
}

@media (min-width: 768px) {
  .gap {
    flex-direction: column;
        overflow-x: hidden;
      padding-bottom: 0px;
  padding-right: 10px;


  }
}

.flex {
  display: flex;
  height: 100vh;
  gap: 20px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    height: 50vh;
  }
}

@media (min-width: 1024px) {
  .flex {
    flex-direction: row;
    height: 80vh;
  }
}

.thumbnail {
  background: green;
  height: full;
  flex-grow: 1;

}

@media (min-width: 768px) {
  .thumbnail {
    order: 1;
  }
}