@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap");

:root {
  --gray: #2d3045;
  --secondary: #464d7b;
  --thirdary: #7982c2;
  --header: white;
  --p: rgb(211, 211, 211);
}

html {
  font-family: "Archivo", sans-serif;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: var(--gray);
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 15px 60px 15px 60px;
  border: none;
  transition: all 300ms;
}

button:hover {
  background-color: var(--gray);
  opacity: 90%;
}

.card {
  background: var(--gray);
}
h1 {
  font-weight: 700;
  margin-bottom: 0px;
}

p {
  font-weight: 300;
}

/* nav bar css */

nav {
  padding: 3px 20px 3px 20px;
  background: var(--gray);
  position: fixed;
  width: 100%;
}

.nav-nestled {
  max-width: 80rem /* 448px */;
  display: flex;
  margin: auto;
}

.nav-title {
  color: var(--header);
  margin: 15px 0;
  align-self: center;
}

.nav-title-container {
  color: var(--p);
  flex-shrink: 0;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: 300ms;
}

.nav-links:hover {
  color: var(--thirdary);
}

.nav-link-container {
  gap: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* header css */

header {
  background-color: var(--secondary);
  margin: 0px;
  padding: 5% 0;
}

.header-nestled {
  max-width: 80rem /* 448px */;
  margin: auto;
  padding: 3px 20px 3px 20px;
  display: flex;
}

.header-left {
    width: 50%;
    background: gree;

    align-items: center;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;

}

.header-right {
    width: 50%;
    background: back;
    justify-content: center;
    display: flex;
    justify-content: flex-center;
    align-items: center;
}

.header-title {
  margin: 5px 0;
  font-size: 2.3em;
  width: 100%;
  color: var(--header);
}

.header-tagline {
  margin: 1px 0;
  font-size: 1.2em;
  color: var(--p);
}

.header-button {
    float: left;
}

.button-div {
    margin: 10px 0 0 0;
    width: 100%;
}


.header-image {
    height: 100%;
    width: 70%;
}